section#home {
	width: 100vw;
	height: 100vh;
	padding-bottom: 0;
}
section#home:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../../img/base/fundo.jpg') no-repeat;
	background-size: cover;
	background-position: bottom center;
}

section#home .container {
	display: flex;
	justify-content: right;
	padding-bottom: 0;
	height: 100vh;	
}
section#home .container:before {
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, rgba(96, 125, 139, 0.15), transparent);
	position: absolute;
	top: 0;
	left: 0;
}

.main-text {
	display: flex;
	align-items: end;	
	position: relative;
}
.main-text #info {
	font-size: 14px;
	margin-top: 15px;
	color: #eee;		
}
.main-text #info > h1 {
	font-size: 6.5rem;
}	
.main-text #info {	
	display: grid;
	font-family: 'arial', sans-serif;
}
.main-text #info h1, 
.main-text #info h2 strong {
	color: #adc2cd;
}
.main-text #info h1 {
	line-height: 85%;    
	text-shadow: 2px 2px 2px #1d2b34;
	margin: 0.05em -0.05em 0.2em;
	width: min-content;
}
.main-text #info h2 {
	font-size: 2em;
    font-weight: 100;
	line-height: unset;  		
}
.main-text #info h2 strong {
	text-shadow: 2px 2px 2px #1d2b34;	
}
.main-text #info h3 {
	font-size: 1.33em;
	font-weight: lighter;
	padding: 4vh 10vw;	
	text-shadow: 0 2px 1px #000;
} 



