section#home {
	width: 100vw;
	height: 100vh;
	padding-bottom: 0;
}
section#home:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../../img/base/fundo.jpg') no-repeat;
	background-size: cover;
	background-position: bottom center;
}

section#home .container {
	display: flex;
	justify-content: right;
	align-items: end;
	padding: 0px 15px;
	height: 100vh;	
}
section#home .container:before {
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, rgba(96, 125, 139, 0.15), transparent);
	position: absolute;
	top: 0;
	left: 0;
}

.main-text {
	display: flex;
	 /*align-items: end;	*/
	position: relative;
}
.main-text /*#info*/ {
	font-size: 14px;
	margin-top: 15px;
	color: #eee;		display: grid;
	font-family: 'arial', sans-serif;
}
.main-text /*#info*/  h1 {
	font-size: 6.5rem;
}	
/*
.main-text #info {	
	
}*/
.main-text/* #info */ h1, 
.main-text /*#info*/ h2 strong {
	color: #adc2cd;
}
.main-text /*#info*/ h1 {
	line-height: 85%;    
	text-shadow: 2px 2px 2px #1d2b34;
	margin: 0.05em -0.05em 0.2em;
	width: min-content;
}
.main-text /*#info*/ h2 {
	font-size: 2em;
    font-weight: 100;
	text-shadow: 0px 2px 0px #1d2b34;	
	line-height: unset;  		
}
.main-text /*#info*/ h2 strong {
	text-shadow: 2px 2px 2px #1d2b34;	
}
.main-text /*#info*/ h3 {
	font-size: 1.33em;
	font-weight: lighter;
	padding: 4vh 10vw;	
	text-shadow: 0 2px 1px #000;
} 


@media all and (min-width: 768px){
	.main-text {
		max-width: 50%;    	
		flex: 0 0 50%;
	}
	.main-text /*#info */{
		font-size: 14px;	
	}
	.main-text /*#info >*/ h1 {
		font-size: 6.5rem;
	}	
}


@media all and (min-width: 1025px){	
	.main-text /*#info*/ {
		font-size: 1.25vw;
		margin-bottom: 30px;
	}
	.main-text /*#info > */h1 {
		font-size: 7vw;
	}
	.main-text /*#info*/ h2 {
		font-size: 2em;
		padding-right: 4vw;
	}	
}


@media all and (min-width: 1367px){
	.main-text /*#info */{
		font-size: 1.54vw;
		margin-bottom: 50px;
	}
	.main-text /*#info > */ h1 {
		font-size: 7.5vw;
	}
	.main-text /*#info >*/ h2 {
		font-size: 1.75em;
		line-height: 104%;
	}	
}


@media all and (min-width: 1681px) {
	.main-text /*#info*/ {
		font-size: 1.65vw;	
	}
	.main-text /*#info > */h1 {
		font-size: 7vw;
	}
	.main-text /*#info >*/ h2 {
		font-size: 1.75em;
		line-height: 108%;
		padding-right: 4vw;
	}
	.main-text /*#info > */ h3 {
		font-size: 1.17em;
	}
}

@media all and (min-width: 1921px){
	.main-text /* #info*/ {
		font-size: 1.75vw;
	}
	.main-text /* #info >*/ h1 {
		font-size: 8vw;
	}
	.main-text /* #info > */ h2 {
		padding-right: 0;
	}
}

*/
@media all and (max-width: 1115px) and (orientation: portrait) {
	section#home:before {		
		background: url('../../img/base/fundo_portrait.jpg') no-repeat #071c25;
		background-size: cover;
    	background-position-x: center;
    	background-position-y: 50%;
	}
	section#home .container {
		display: block;
		/*padding: 75px 15px 0px;*/
	}	
	section#home .container:before {
		background: linear-gradient(to bottom, rgba(96, 125, 139, 0.15), transparent);
	}
	.main-text {
		max-width: 100%;
    	flex: 0 0 100%;
	}
	.main-text {
		align-items: baseline;
	}
	.main-text h3 {
		font-size: 1.54em;
		padding: 3vh 0vw;
		text-align: center;
	}

	

}

@media all and (max-width: 991px) and (orientation: landscape) {	
	.main-text /*#info */{	
		font-size: 13px;
		margin-bottom: 30px;	
	}
	.main-text /*#info*/ h1 {
		font-size: 5rem;
	}
}

/*
@media all and (max-width: 800px) and (orientation: landscape) {		
	section#home:before {
		width: 120%;
		height: 100%;
		background-position-x: -7.5vw;
	}	
}*/


@media all and (max-width: 690px) and (orientation: landscape){
	.main-text /*#info*/ {
		font-size: 11px;
		margin-bottom: 10px;
	}
}


@media all and (max-width: 1024px) and (orientation: portrait) {	
	.main-text /* #info */ {
		font-size: 16px;
		padding: 0 10px	;
	}
	.main-text /*#info*/ p {
		font-size: 1.7em;
	}
	.main-text /*#info*/ h1 {
		font-size: 7rem;
	}
	.main-text /*#info */h2 {
		font-size: 2em;
	}
	.main-text /*#info */h3 {
		font-size: 1.75em;
	}
}
*/

@media all and (max-width: 557px) and (orientation: portrait) {	
	section#home:before {
		background-size: 150%;
	}
	.main-text /*#info*/ {
		font-size: 13px;
		padding: 0 5px;
	}
	.main-text /*#info*/ h1 {
	    font-size: 5.4rem;
	}
}

@media all and (max-width: 390px) and (orientation: portrait) {		
	.main-text /*#info*/ p {
		font-size: 1.45em;
	}
	.main-text /*#info*/ h2 {
		font-size: 1.7rem;
	}
	.main-text /*#info*/ h3 {
		font-size: 1.5rem;
	}
}

@media all and (max-width: 320px) and (orientation: portrait) {	
	.main-text /*#info */{
		font-size: 11px;
		padding: 0;
	}
	.main-text /*#info*/ p {
		font-size: 1.25em;
	}
	.main-text /*#info*/ h1 {
		font-size: 4rem;
	}
	.main-text /*#info*/ h2 {
		font-size: 1.5rem;
		letter-spacing: -0.8px;
		text-align: justify;
	}
	.main-text #info h3 {
		font-size: 1.33rem;
	}

}

@media all and (max-height: 320px) {
 	section#home:before {
		width: 100%;
		height: 100%;
		background-position-x: center;
	}
	.main-text /*#info*/ h1 {
		font-size: 4rem;
	}
	.main-text /*#info*/ h2 {
		font-size: 1.65em;
	}
}






